<div class="container">
  <h3>כניסה לחשבונך</h3>
  <form>
    <div class="form-fields">
      <label for="userName">* שם משתמש </label>
      <input type="text" id="userName" />
    </div>
    <div class="form-fields">
      <label for="idNum">* מס' עוסק מורשה/ח.פ</label>
      <input type="text" id="idNum" />
    </div>
    <div class="form-fields">
      <label for="password">* סיסמא</label>
      <input type="password" id="password" />
    </div>
    <!-- <div> -->
      <!-- <div class="form-fields btn-container"> -->
        <button type="submit">כניסה לחשבון</button>
      <!-- </div> -->
    <!-- </div> -->
    <!-- <div> -->
      <a href="#">שכחתי סיסמא</a>
    <!-- </div> -->
  </form>
</div>
