div.container {
  display: table;
  margin: 0 auto;
  background-color: #008053;
  color: white;
  padding: 1% 3% 3% 3%;
}

form {
  text-align: center;
  /* padding: 5%; */
}

div.form-fields {
  margin-bottom: 20%;
}

label {
  display: block;
  text-align: right;
}

input {
  border-radius: 8%;
  border-radius: 25px;
  height: 30px;
  border: none;
  width: 100%;
  padding: 0 7% 0 7%;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #f36f23;
  border: none;
  border-radius: 25px;
  color: white;
  height: 30px;
  width: 100%;
  cursor: pointer;
}

h3 {
  text-align: center;
}

a {
  text-decoration: underline;
  color: white;
}
