<!-- <div class="container">
  <h3>כניסה לחשבונך</h3>
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-fields">
      <label for="userName">* שם משתמש </label>
      <input type="text" id="userName" formControlName="userName" required />
    </div>
    <div class="form-fields">
      <label for="idNum">* מס' עוסק מורשה/ח.פ</label>
      <input type="text" id="idNum" formControlName="idNum" />
    </div>
    <div class="form-fields">
      <label for="password">* סיסמא</label>
      <input type="password" id="password" formControlName="password" />
    </div>
    <button type="submit" [disabled]="!myForm.valid">כניסה לחשבון</button>
    <a href="#">שכחתי סיסמא</a>
  </form>
  <p>Form Status: {{ myForm.status }}</p>
</div> -->
