<div class="container">

  <form>
    <mat-form-field>
      <input class="inputForFilter" matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="הזן ערך" value="">
    </mat-form-field>
  </form>

  <table mat-table [dataSource]="tableData" matSort>

    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> מזהה לקוח </th>
      <td mat-cell *matCellDef="let post"> {{post.userId}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> מס' </th>
      <td mat-cell *matCellDef="let post"> {{post.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> כותרת </th>
      <td mat-cell *matCellDef="let post"> {{post.title}} </td>
    </ng-container>

    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> תיאור </th>
      <td mat-cell *matCellDef="let post"> {{post.body}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
